
body {
  background: url('../img/assets/bg.gif');
  overflow-x: hidden;
}

#rendered-game {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 1000px;
  height: 100%;
  background: url('../img/assets/bg.gif');
}

canvas {
  margin: 0 auto !important;
}

.side_bar {
  width: 250px;
  background: rgba(0,0,0,.3);
  height: 100%;
  display: block;
  position: absolute;
}

.opening {
  position: absolute;
  display: block;
  height: 100vh;
  width: 50%;
  text-align: center;
  -webkit-transition: all 1500ms cubic-bezier(0.550, 0.055, 0.675, 0.190); 
  -moz-transition: all 1500ms cubic-bezier(0.550, 0.055, 0.675, 0.190); 
  -o-transition: all 1500ms cubic-bezier(0.550, 0.055, 0.675, 0.190); 
  transition: all 1500ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
  -webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
  -moz-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
  -o-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
  transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  background: #555 url('../img/assets/ascii_door.png');
  z-index: 2147;
}

.left {left:0;}
.right {right:0;}